li {
  margin-top: 1em;
}

ul {
  margin-left: 2em;
}

.height {
  height: 100px;
}

.inline {
  display: inline-block;
}

.submit {
  margin-top: 2em;
}

.user-tile {
  background: #EEE;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

#new-post {
  margin-top: 1em;
}
